<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>获取BBU</title>
	<style>
		header{margin-top: 200px;}
		header,h1,h2,h3,a,p{text-align: center;}
	</style>
</head>
<body>

	<header>
		<h1><a href="javascript:(function(){var d = document,a = 'setAttribute',s = d.createElement('script');s[a]('type','text/javascript');s[a]('src','<%=baseUrl%>scripts/getBBU.js');d.head.appendChild(s);})();">1号店BUG收集书签</a> <br></h1>
		<span>拖动上方链接获取</span>
		<h3>BBU(Browser Bug Uploader)</h3>
		<p>BBU 会收集您的bug所在的浏览器环境信息</p>
	</header>

	
</body>
</html>