<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>获取BBU</title>
	<style>
		div.header{margin-top: 200px;}
		div.header,h1,h2,h3,a,p{text-align: center;}
		div.header h1 a{text-align: center;}
	</style>
</head>
<body>
	<div class="header">
		<h1><a href="javascript:(function(){var d = document,a = 'setAttribute',s = d.createElement('script');s[a]('type','text/javascript');s[a]('src','<%=baseUrl%>scripts/getBBU.js');d.head.appendChild(s);})();">1号店BUG收集书签</a> <br></h1>
		<span>拖动上方链接获取</span>
		<h3>BBU(Browser Bug Uploader)</h3>
		<p>BBU 会收集您的bug所在的浏览器环境信息</p>
	</div>
</body>
</html>