<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录BBU</title>
	<link rel="stylesheet" href="<%=baseUrl%>style/base.css">
</head>
<body>
	<form action="/getLogin" method="POST">
		<input type="text" name="useremail">
		<input type="password" name="password">
		<input type="submit">
	</form>
</body>
</html>

