<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册BBU</title>
	<link rel="stylesheet" href="<%=baseUrl%>style/base.css">
</head>
<body>
	<div id="reg-wrapper">
		<h1 class="title">注册BBU</h1>
		<form action="/getReg" method="POST">
			<div><label for="useremail">邮箱：</label><input id="useremail" type="email" name="useremail" required></div>
			<div><label for="username">用户名：</label><input id="username" type="text" name="username" required></div>
			<div><label for="password">密码：</label><input id="password" type="password" name="password" required></div>
			<div><label for="repassword">重复密码：</label><input id="repassword" type="password" name="repassword" required></div>
			<div><label for="auth">邀请码：</label><input id="auth" type="text" name="auth" required></div>
			<div><input class="submit" type="submit" value="注册"></div>
		</form>
	</div>
</body>
</html>

