			<nav class="bug-detail-nav">
				<a ng-href="http://localhost:4000/webAPP/BBU/index.html#/s0/p1">全部</a>
				<a ng-href="http://localhost:4000/webAPP/BBU/index.html#/s1/p1">未处理</a>
				<a ng-href="http://localhost:4000/webAPP/BBU/index.html#/s2/p1">正在处理</a>
				<a ng-href="http://localhost:4000/webAPP/BBU/index.html#/s3/p1">已处理</a>
			</nav>
			<ul id="bbu-list">
				<li  ng-repeat="li in getBugs()">
					
						<div class="bbu-info">
							<div class="bug-list-detail">
								<a class="goto-detail" ng-href="http://localhost:4000/webAPP/BBU/index.html#/b{{li.id}}">
								<span ng-bind="li.bugdetail"></span>
								</a><span class="bug-list-status" ng-bind="li.status"></span><span ng-click="fixBug($index)" class="bug-list-status-todo" ng-bind="li.todoText"></span>
							</div>
					
							<div><span>BUG环境：<span><span class="browser-info" ng-bind="li.browserinfo"></span>
								</div>
							<div><span>屏幕宽度(px)：<span><span class="screenwidth" ng-bind="li.screenwidth"></span>
								</div>
							<span>BUG地址：<span><a class="web-url" ng-href="{{li.weburl}}" ng-bind="li.weburl"></a>
							<div><span>来自：<span><span class="username" ng-bind="li.username"></span><span>(</span><span ng-bind="li.email"></span><span>)</span><span class="bug-list-time" ng-bind="li.ctime"></span></div>
							
						</div>
				</li>
			</ul>
			<a id="next" ng-href="http://localhost:4000/webAPP/BBU/index.html#/{{prevPage}}">上一页</a>
			<a id="next" ng-href="http://localhost:4000/webAPP/BBU/index.html#/{{nextPage}}">下一页</a>

